---
import About from '@components/About.astro';
import Contact from '@components/Contact.astro';
import Hero from '@components/Hero.astro';
import Layout from '@layouts/Layout.astro';
import Offer from '@components/Offer.astro';
import Process from '@components/Process.astro';
import Projects from '@components/Projects.astro';
import Questions from '@components/Questions.astro';
import Stats from '@components/Stats.astro';
import Types from '@components/Types.astro';

const pageTitle = 'Melanto.ro - Doar mobilă. Doar calitate.';
const pageDescription = 'Știm cât de important e să fii înconjurat de calitate în viața ta, și vrem să ți-o livrăm prin mobilier și servicii la cele mai înalte standarde.';
---

<Layout title={pageTitle} description={pageDescription} template="HomePage">
	<Hero />
	<main class="Main">
		<About />

		<Projects />

		<Offer />

		<Process />

		<Types />

		<Stats />

		<Questions />

		<Contact />
	</main>
</Layout>
