---
import ResponsiveImage from '@components/ResponsiveImage.astro';
import imgCineSuntem from '@img/cine-suntem.jpg';
---

<section class="Section NavTarget WhoAreWe" id="despre-noi">
	<h2 class="SubTitle">Cine suntem?</h2>
	<p>Melanto e un business de familie, născut din dorința de a aduce calitatea și pasiunea pentru mobilier în casele oamenilor.</p>
	<p>Suntem o echipă tânără și extrem de motivată să livrăm mobilă și servicii la cele mai înalte standarde, care plasează clientul, dorințele și necesitățile sale în centrul atenției. Ne place să credem că înainte de mobilă lucrăm cu oameni, așa că viziunea, așteptările și cerințele clienților noștri sunt extrem de importante pentru noi.</p>
	<ResponsiveImage image={imgCineSuntem} alt="Cine este echipa din spatele brand-ului de mobilă Melanto?" width={1200} height={1200} lazyLoading={true} classList={['WhoWeAreImage']} breakpoint={800} />
	<p>Lucrăm cu diferite materiale (lemn masiv, PAL, MDF, sticlă, etc) și furnizori de încredere (pentru materiale și accesorii) pentru că știm importanța lucrului bine făcut, indiferent de buget.</p>
	<p>Deși suntem la început de drum, știm că putem și vom construi lucruri mărețe împreună cu clienții noștri, fiindcă avem determinarea și dorința de a reuși, și știm că nu putem face asta decât oferind respect și seriozitate tuturor colaboratorilor noștri. Vrem să fim parteneri de încredere, pentru că noi la rândul nostru punem preț pe parteneri!</p>
	<p>Indiferent de mărimea sau natura proiectului, că ești arhitect, business sau persoană fizică, nouă ne plac provocările! Contactează-ne și hai să facem planurile tale (sau ale clienților tăi) să devină realitate!</p>
</section>
