---
/**
 * Renders the website header and highlights the active page in the header main menu, if any.
 * @component
 * @example
 * ```astro
 * <Header activeMenu={myActiveMenu} />
 * ```
 * @property {string} [activeMenu] - An optional string representing the active menu item.
 * @returns {astro.AstroNode} The header component.
 */

import type { BreadcrumbItem } from '@customtypes/astro';

export interface Props {
	breadcrumbArray?: BreadcrumbItem[] | undefined;
	activeMenu?: string | undefined;
}

const { activeMenu } = Astro.props satisfies Props;
---

<header class="Header">
	{activeMenu}
	<div class="HeaderMain" role="toolbar">
		<a class="Logo" href="/" title="Mergi la prima pagină a proiectului Melanto.ro">
			<svg class="LogoSymbol" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 532.64 468" fill="currentColor">
				<path d="M0,16.76c5.43,42.97,10.86,85.95,16.29,128.92,29.72-3.75,59.51-6.82,89.33-9.23l3.14-37.68c.62-8.13,0-14.2-1.88-18.19-1.88-3.99-5.48-6.84-10.79-8.57l-10.09-3.05c-3.91-1.25-6.81-3.09-8.68-5.51-1.88-2.42-2.82-5.52-2.82-9.27,0-9.07,5.87-13.61,17.6-13.61h78.38c8.29,0,14.98,1.72,20.06,5.16,5.08,3.44,9.58,10.33,13.49,20.65l25.48,63.92c27.05-.5,54.1-.45,81.15.15l24.08-63.13c3.75-10.17,8.17-17.17,13.26-21,5.08-3.83,12.08-5.75,21-5.75h79.32c5.94,0,10.33,1.17,13.14,3.52,2.82,2.35,4.22,5.71,4.22,10.09,0,3.6-.94,6.61-2.82,9.03-1.88,2.43-4.62,4.27-8.21,5.51l-10.33,3.29c-5.16,1.72-8.65,3.95-10.44,6.69-1.8,2.74-2.47,7.08-2,13.02l3.22,45.39c27.12,2.3,54.21,5.15,81.24,8.57,5.43-42.97,10.86-85.95,16.29-128.92C355.79-5.59,176.84-5.59,0,16.76Z"></path>
				<path d="M445.25,280.36c17.8,1.73,35.57,3.7,53.33,5.94,5.43-42.97,10.86-85.94,16.28-128.91-26.26-3.32-52.57-6.1-78.91-8.36l9.3,131.34Z"></path>
				<path d="M344.66,143.3c-.84-.03-1.67-.06-2.51-.09l-48.86,128.69c20.46.3,40.91.93,61.36,1.91l-9.99-130.5Z"></path>
				<path d="M137.22,145.97l-10.74,131.02c21.65-1.64,43.33-2.9,65.01-3.78l-51.08-127.45c-1.06.07-2.13.14-3.19.21Z"></path>
				<path d="M104.62,148.37c-29,2.37-57.96,5.37-86.86,9.02,5.43,42.97,10.86,85.94,16.29,128.91,19.84-2.51,39.72-4.68,59.61-6.55l10.96-131.39Z"></path>
				<path d="M234.18,142.01l36.82,92.38,35.18-92.23c-24-.48-48.01-.54-72.01-.15Z"></path>
				<path
					d="M448.08,320.29c.31,5.63,1.37,9.58,3.17,11.85,1.8,2.27,4.89,4.11,9.27,5.51l10.09,3.29c3.44,1.1,6.02,2.82,7.74,5.16,1.72,2.35,2.58,5.24,2.58,8.68,0,4.07-1.41,7.47-4.22,10.21-2.82,2.74-7.2,4.11-13.14,4.11h-121.79c-6.1,0-10.6-1.21-13.49-3.64-2.9-2.42-4.34-5.75-4.34-9.97,0-3.44.86-6.41,2.58-8.92,1.72-2.5,4.61-4.38,8.68-5.63l10.56-3.29c5.16-1.72,8.6-3.83,10.33-6.34,1.72-2.5,2.42-6.18,2.11-11.03l-2.65-34.63c-22.23-1.08-44.48-1.75-66.73-2.02l-19.79,52.13c-3.6,9.86-7.31,16.15-11.15,18.89-3.84,2.74-8.41,4.11-13.73,4.11-3.91,0-7.43-.47-10.56-1.41-3.13-.94-6.1-3.13-8.92-6.57-2.82-3.44-5.71-8.92-8.68-16.43l-19.85-49.53c-23.57.9-47.12,2.25-70.65,4.06l-1.96,23.89c-.63,7.04.86,12.4,4.46,16.07,3.6,3.68,8.29,6.92,14.08,9.74l8.92,3.99c2.66,1.25,4.73,2.86,6.22,4.81,1.48,1.96,2.23,4.5,2.23,7.63,0,4.22-1.41,7.63-4.22,10.21-2.82,2.58-7.2,3.87-13.14,3.87h-71.81c-5.95,0-10.33-1.21-13.14-3.64-2.82-2.42-4.22-5.75-4.22-9.97s1.13-7.19,3.4-9.39c2.27-2.19,5.28-4.14,9.03-5.87l7.04-2.58c5.16-2.19,9.39-5.16,12.67-8.92,3.29-3.75,5.24-9.15,5.87-16.19l1.74-20.85c-19.07,1.81-38.12,3.91-57.14,6.31,5.43,42.97,10.86,85.95,16.29,128.92,12.6-1.59,25.22-3.04,37.85-4.35,17.02-1.77,34.06-3.28,51.12-4.53,83.58-6.15,167.49-6.15,251.06,0,17.05,1.25,34.09,2.76,51.11,4.53,12.63,1.31,25.25,2.76,37.86,4.35,5.43-42.98,10.86-85.95,16.29-128.92-16.98-2.15-33.98-4.04-51-5.71l1.98,27.99Z"
				></path>
				<path d="M400.2,465.68c8.72.7,17.43,1.48,26.15,2.32,1.13-11.62,2.24-23.26,3.36-34.88-8.89-.86-17.79-1.64-26.69-2.36-.93,11.64-1.88,23.28-2.82,34.92Z"></path>
				<path d="M102.91,433.12c1.12,11.62,2.24,23.25,3.37,34.87,8.71-.85,17.42-1.62,26.14-2.32-.94-11.64-1.88-23.28-2.82-34.93-8.9.73-17.8,1.52-26.69,2.38Z"></path>
			</svg>
			<span class="LinkText">Melanto</span>
		</a>
		<nav class="MainMenu" id="menu" aria-labelledby="menuTrigger">
			<ul class="MainMenuList">
				<li class="MainMenuItem">
					<a class="MainMenuLink" href="/#despre-noi" title="Despre echipa, misiunea și viziunea Melanto">
						<span class="LinkText">Despre noi</span>
					</a>
				</li>
				<li class="MainMenuItem">
					<a class="MainMenuLink" href="/#servicii" title="Ce oferim? Categorii de produse, servicii și tehnologii disponibile prin Melanto">
						<span class="LinkText">Servicii</span>
					</a>
				</li>
				<li class="MainMenuItem">
					<a class="MainMenuLink" href="/#proces" title="Care e procesul prin care ajungem de la nevoia ta la produsul final?">
						<span class="LinkText">Proces creativ</span>
					</a>
				</li>
				<li class="MainMenuItem">
					<a class="MainMenuLink" href="/#tipuri" title="Tipuri de proiecte pe care le oferim pentru companii, instituții și persoane fizice">
						<span class="LinkText">Tipuri de proiecte</span>
					</a>
				</li>
				<li class="MainMenuItem">
					<a class="MainMenuLink" href="/#intrebari" title="Răspunsuri la cele mai frecvente întrebări pe care le primim despre Melanto">
						<span class="LinkText">Întrebări frecvente</span>
					</a>
				</li>
				<li class="MainMenuItem">
					<a class="MainMenuLink" href="/#contact" title="Intră în contact cu noi sau cere-ne o ofertă personalizată">
						<span class="LinkText">Contact</span>
					</a>
				</li>
			</ul>
		</nav>
		<button class="MenuTrigger" type="button" id="menuTrigger" aria-expanded="false" aria-label="Deschide meniul principal" aria-haspopup="true" aria-controls="menu">
			<span class="Icon IconHamburger">
				<span class="HamburgerBar HamburgerBar1">&nbsp;</span>
				<span class="HamburgerBar HamburgerBar2">&nbsp;</span>
				<span class="HamburgerBar HamburgerBar3">&nbsp;</span>
			</span>
			<span class="SROnly">Deschide meniul principal</span>
		</button>
	</div>
</header>

<script>
	declare global {
		interface Window {
			menuListeners: any;
		}
	}
	window.menuListeners = function () {
		const menuTrigger = document.getElementById('menuTrigger');

		// la fiecare click pe butonul cu hamburger icon, adăugăm sau scoatem (deci facem toggle pe) clasa ActiveMenu în body, clasă care are niște CSS care afișează sau ascunde meniul mobil
		menuTrigger?.addEventListener('click', function (event) {
			const body = document.body;
			event.preventDefault();
			body.classList.toggle('ActiveMenu');
			if (body.classList.contains('ActiveMenu')) {
				document.body.dataset.menuOpen = 'true';
				this.setAttribute('aria-expanded', 'true');
				this.setAttribute('aria-label', 'Închide meniul principal');
			} else {
				delete document.body.dataset.menuOpen;
				this.setAttribute('aria-expanded', 'false');
				this.setAttribute('aria-label', 'Deschide meniul principal');
			}
			return false;
		});

		// La fiecare click pe butoanele din meniul principal, ascunde meniul mobil
		const menuLinks = document.querySelectorAll('.MainMenuLink');
		menuLinks.forEach((menuLink) => {
			menuLink.addEventListener('click', function () {
				const body = document.body;
				body.classList.remove('ActiveMenu');
				delete document.body.dataset.menuOpen;
				menuTrigger?.setAttribute('aria-expanded', 'false');
				menuTrigger?.setAttribute('aria-label', 'Deschide meniul principal');
			});
		});

		function handleMenuIntersection(entries: any) {
			entries.forEach((entry: any) => {
				const section = entry.target;
				const link = document.querySelector('a[href="/#' + section.id + '"]');
				if (entry && entry.isIntersecting && link) {
					// @ts-ignore
					link?.parentNode?.classList.add('Active');
				} else {
					// @ts-ignore
					link?.parentNode?.classList.remove('Active');
				}
			});
		}
		const menuObserver = new IntersectionObserver(handleMenuIntersection, {
			threshold: [0.1, 0.75],
		});
		const sections = document.querySelectorAll('.NavTarget');
		sections.forEach((section) => {
			menuObserver.observe(section);
		});
	};
	window.menuListeners();
	// Runs on view transitions navigation
	document.addEventListener('astro:after-swap', function () {
		window.menuListeners();
	});
</script>
