---

---

<section class="Section NavTarget WhatWeOffer" id="servicii">
	<h2 class="SubTitle">Ce oferim?</h2>
	<ul class="Oferta">
		<li class="OfertaItem">
			<img class="OfertaImage" src="../img/profesionalism.svg" width="100" height="100" alt="Pasiune și profesionalism" loading="lazy" decoding="async" />
			<div class="OfertaContainer">
				<h3 class="SubTitleTertiary">Pasiune și profesionalism</h3>
				<p>E important ca atunci când alegi să faci o investiție să știi că ai lângă tine o echipă de profesioniști, oameni pe care te poți baza și care pun pasiune în ceea ce fac. Noi știm asta și abia așteptăm să ți-o demonstrăm și ție când vei alege să colaborezi cu noi!</p>
			</div>
		</li>
		<li class="OfertaItem">
			<img class="OfertaImage" src="../img/seriozitate.svg" width="100" height="100" alt="Seriozitate și sinceritate" loading="lazy" decoding="async" />
			<div class="OfertaContainer">
				<h3 class="SubTitleTertiary">Seriozitate și sinceritate</h3>
				<p>Clienții noștri au parte de estimări sincere și realiste. Oferim toată seriozitatea noastră și punem preț pe ea pentru că la rândul nostru apreciem oamenii serioși și ni-i dorim clienți.</p>
			</div>
		</li>
		<li class="OfertaItem">
			<img class="OfertaImage" src="../img/atentie.svg" width="100" height="100" alt="Atenție la detalii" loading="lazy" decoding="async" />
			<div class="OfertaContainer">
				<h3 class="SubTitleTertiary">Atenție la detalii</h3>
				<p>Știm și noi, cum probabil știi și tu, că detaliile fac diferența. Cu atât mai mult când vine vorba de un mobilier la comandă! Noi tratăm fiecare proiect ca fiind o carte de vizită, iar atenția la detalii e esențială pentru a livra la cele mai înalte standarde și a avea clienți mulțumiți.</p>
			</div>
		</li>
		<li class="OfertaItem">
			<img class="OfertaImage" src="../img/program.svg" width="100" height="100" alt="Program dedicat" loading="lazy" decoding="async" />
			<div class="OfertaContainer">
				<h3 class="SubTitleTertiary">Program dedicat</h3>
				<p>Noi credem că fiecare client merită atenția noastră exclusivă, așa că atunci când alegi să colaborezi cu noi te poți baza că o vei avea.</p>
			</div>
		</li>
		<li class="OfertaItem">
			<img class="OfertaImage" src="../img/masuratori.svg" width="100" height="100" alt="Deplasări și măsurători incluse" loading="lazy" decoding="async" />
			<div class="OfertaContainer">
				<h3 class="SubTitleTertiary">Deplasări și măsurători incluse</h3>
				<p>Se spune că două perechi de ochi sunt mai bune decât una, iar timpul și experiența ne-a convins că așa e! De aceea, pentru a ne asigura că pornim proiectul tău cu dreptul, înainte de a trece la proiectare și alte detalii, un coleg de-ai noștri va veni să măsoare spațiul, să discute cu dumneavoastră și să noteze toate detaliile necesare care să ne ajute ulterior să ne mulăm cât mai bine pe necesitățile proiectului.</p>
			</div>
		</li>
		<li class="OfertaItem">
			<img class="OfertaImage" src="../img/modelare-3d.svg" width="100" height="100" alt="Proiectare 3D" loading="lazy" decoding="async" />
			<div class="OfertaContainer">
				<h3 class="SubTitleTertiary">Proiectare 3D</h3>
				<p>Luăm dorințele exprimate de tine, schițele și măsurătorile și folosind un program special de proiectare 3D, aducem la viață virtual mobilierul tău, astfel încât tu să-ți faci o idee mai clară despre rezultate și să putem discuta concret pe proiect restul detaliilor. Proiectarea 3D e extrem de importantă fiindcă ne ajută atât pe noi cât și pe client să surprindem în acest pas eventualele nereguli și modificări ce trebuiesc aduse proiectului.</p>
			</div>
		</li>
		<li class="OfertaItem">
			<img class="OfertaImage" src="../img/consiliere.svg" width="100" height="100" alt="Consiliere specializată" loading="lazy" decoding="async" />
			<div class="OfertaContainer">
				<h3 class="SubTitleTertiary">Consiliere specializată</h3>
				<p>Când nu știi ce să alegi în materie de materiale, cum să eficientizezi un spațiu printr-un design de mobilier practic sau pur și simplu n-ai nicio viziune despre cum ai vrea să arate mobila ta, mai bine te bazezi pe noi! Pe tot parcursul colaborării noastre oferim clienților noștri consultanță în realizarea proiectului și sfaturi experimentate.</p>
			</div>
		</li>
		<li class="OfertaItem">
			<img class="OfertaImage" src="../img/livrare.svg" width="100" height="100" alt="Transport și montaj cu propria echipă" loading="lazy" decoding="async" />
			<div class="OfertaContainer">
				<h3 class="SubTitleTertiary">Transport și montaj cu propria echipă</h3>
				<p><q>Cine se aseamănă, se-adună</q>, dar voi știți asta deja! Și noi o știm, și de aceea am format o echipă de oameni profesioniști, serioși și atenți la detalii care să ne ajute cu transportul și montajul pieselor noastre de mobilier.</p>
			</div>
		</li>
		<li class="OfertaItem">
			<img class="OfertaImage" src="../img/garantie.svg" width="100" height="100" alt="Garanție la toate produsele" loading="lazy" decoding="async" />
			<div class="OfertaContainer">
				<h3 class="SubTitleTertiary">Garanție la toate produsele</h3>
				<p>Fiindcă avem încredere în furnizorii noștri și știm că mobilierul nostru este unul de calitate, oferim clienților noștri garanția lucrului bine făcut.</p>
			</div>
		</li>
		<li class="OfertaItem">
			<img class="OfertaImage" src="../img/flexibilitate.svg" width="100" height="100" alt="Flexibilitate în proiecte" loading="lazy" decoding="async" />
			<div class="OfertaContainer">
				<h3 class="SubTitleTertiary">Flexibilitate în proiecte</h3>
				<p>Ne place mobila și nu ne dăm înapoi de la nicio provocare! Proiectăm și realizăm mobilier de diferite tipuri, stiluri și pentru diferite bugete, atât pt pers fizice cât și pentru arhitecți sau clienți business.</p>
			</div>
		</li>
	</ul>
</section>
