---

---

<section class="Section NavTarget QandA" id="intrebari">
	<h2 class="SubTitle">Întrebări frecvente</h2>
	<dl class="List ListQA">
		<dt class="Question">
			<h3 class="SubTitleTertiary">De ce să aleg Melanto?</h3>
		</dt>
		<dd class="Answer">
			<p>Alege Melanto dacă vrei calitate, o echipă serioasă și motivată să livreze cel mai bun mobilier indiferent de buget. Alege-ne dacă îți plac:</p>
			<ul>
				<li>materialele de calitate</li>
				<li>transparența și seriozitatea</li>
				<li>tehnologia și materialele de ultimă oră</li>
				<li>adaptabilitatea noastră și apetitul pentru provocări creative</li>
				<li>atenția și consilierea pe care o acordăm clienților noștri</li>
				<li>design-ul personalizat adaptat nevoilor și bugetului tău</li>
				<li>prețurile noastre competitive</li>
				<li>termenele de execuție și livrare realiste</li>
				<li>o gamă de finisaje și accesorii diversificată</li>
			</ul>
		</dd>
		<dt class="Question">
			<h3 class="SubTitleTertiary">Executați mobilă la comandă?</h3>
		</dt>
		<dd class="Answer">
			<p>
				Da, executăm mobilă la comandă din lemn masiv, MDF, PAL, pentru apartamente și case, spații comerciale sau proiecte imobiliare. Pentru mai multe detalii vizitează secțiunea <a href="#tipuri">Tipuri de proiecte</a> de pe site.
			</p>
		</dd>
		<dt class="Question">
			<h3 class="SubTitleTertiary">Faceți mobila și după schițele sau modelul clientului?</h3>
		</dt>
		<dd class="Answer">
			<p>Tot timpul în procesul nostru de proiectare plecăm de la schițele și dorințele clientului, iar ulterior construim pe acestea proiectarea 3D. Apelăm la proiectarea 3D pentru a ne asigura că aducem clientului o imagine cât mai clară a cum va arăta mobilierul lui în spațiul de care dispunem, și totodată acest proces ajută și la stabilirea mai clară a uneo detalii de natură practică și estetică. Considerăm că proiectarea 3D e un pas vital pentru reușita oricărui proiect, de aceea noi nu ne bazăm exclusiv pe schițele inițiale ale clientului.</p>
		</dd>
		<dt class="Question">
			<h3 class="SubTitleTertiary">Ce se întâmplă după ce obțin oferta de preț pentru mobila la comandă?</h3>
		</dt>
		<dd class="Answer">
			<p>Odată stabilită oferta de preț, aceasta este valabilă 5 zile lucrătoare. Dacă clientul o agreează se trece la următorul pas din PROCESUL MELANTO (vezi secțiunea pe site) iar dacă există dorința din partea clientului de a modifica valoarea ei, se discută înlocuirea unor materiale sau accesorii pentru ca proiectul să fie mai aproape de bugetul real al clientului.</p>
		</dd>
		<dt class="Question">
			<h3 class="SubTitleTertiary">Vă deplasați la locație pentru măsurători?</h3>
		</dt>
		<dd class="Answer">
			<p>Întotdeauna. Acest pas face parte din procesul nostru, pe care-l puteți analiza integral la secțiunea PROCESUL MELANTO de pe site.</p>
		</dd>
		<dt class="Question">
			<h3 class="SubTitleTertiary">Oferiți montaj și transport?</h3>
		</dt>
		<dd class="Answer">
			<p>Da, oferim ambele, cu echipă proprie. Mai multe detalii găsiți la secțiunea CE OFERIM de pe site.</p>
		</dd>
	</dl>
</section>
