---

---

<section class="Section Stats">
	<h2 class="SubTitle">Statistici despre <strong>Melanto</strong></h2>
	<ul class="StatsList">
		<li class="StatsItem">
			<span class="StatsNumber">2</span>
			<span class="StatsText">ani de experiență</span>
		</li>
		<li class="StatsItem">
			<span class="StatsNumber">10+</span>
			<span class="StatsText">lucrări pe lună</span>
		</li>
		<li class="StatsItem">
			<span class="StatsNumber">100+</span>
			<span class="StatsText">clienți fericiți</span>
		</li>
	</ul>
</section>
